In [1]:
import numpy as np
import pandas as pd

import requests
from urllib3.exceptions import InsecureRequestWarning
from urllib3 import disable_warnings
import json
import time 

disable_warnings(InsecureRequestWarning)

In [63]:
def get_ds_tinh():
    page = requests.get("https://www.gdt.gov.vn/TTHKApp/jsp/json.jsp?cmd=GET_DS_TINH", verify=False)
    tinh_dict = json.loads(page.text)
    return tinh_dict

In [64]:
ds_tinh = get_ds_tinh()

In [65]:
ds_tinh = pd.DataFrame(ds_tinh)
ds_tinh

     id              title
0   805           An Giang
1   717  Bà Rịa - Vũng Tàu
2   711         Bình Dương
3   707         Bình Phước
4   715         Bình Thuận
..  ...                ...
58  501            Đà Nẵng
59  605            Đắc Lắc
60  606           Đắk Nông
61  713           Đồng Nai
62  803          Đồng Tháp

[63 rows x 2 columns]

In [69]:
ds_tinh['id'] = ds_tinh['id'].astype(int)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      63 non-null     int32
 1   title   63 non-null     object
dtypes: int32(1), object(1)
memory usage: 884.0+ bytes

In [6]:
ds_tinh.to_csv('ds_tinh.csv', index= False)

In [7]:
def get_ds_huyen(maTinh):
    url = "https://www.gdt.gov.vn/TTHKApp/jsp/json.jsp?cmd=GET_DS_HUYEN&maTinh={}".format(maTinh)
    page = requests.get(url, verify=False)
    huyen_dict = json.loads(page.text)
    return huyen_dict

In [6]:
def get_ds_xa(maCQThue):
    url = "https://www.gdt.gov.vn/TTHKApp/jsp/json.jsp?cmd=GET_DS_XA&maCQThue={}".format(maCQThue)
    page = requests.get(url, verify=False)
    xa_dict = json.loads(page.text)
    return xa_dict

In [55]:
summary_dict = {}
ds_huyen_toan_quoc = []
for tinh in ds_tinh['id']:
    ds_huyen = get_ds_huyen(tinh)
    ds_huyen_toan_quoc = ds_huyen_toan_quoc + ds_huyen
    time.sleep(1)

In [2]:
ds_huyen_toan_quoc = pd.DataFrame(ds_huyen_toan_quoc)
ds_huyen_toan_quoc

        id               title
0    80505        Huyện An Phú
1    80511      Huyện Châu Phú
2    80519    Huyện Châu Thành
3    80517       Huyện Chợ Mới
4    80509       Huyện Phú Tân
..     ...                 ...
735  80313     Huyện Tháp mười
736  80305      Huyện Tân Hồng
737  80301  Thành phố Cao Lãnh
738  80323  Thành phố Hồng Ngự
739  80303    Thành phố Sa Đéc

[740 rows x 2 columns]

In [3]:
ds_huyen_toan_quoc.to_csv('ds_huyen_toan_quoc.csv', index= False)

In [45]:
ds_huyen_toan_quoc = pd.read_csv('ds_huyen_toan_quoc.csv')
ds_huyen_toan_quoc

        id               title
0    80505        Huyện An Phú
1    80511      Huyện Châu Phú
2    80519    Huyện Châu Thành
3    80517       Huyện Chợ Mới
4    80509       Huyện Phú Tân
..     ...                 ...
735  80313     Huyện Tháp mười
736  80305      Huyện Tân Hồng
737  80301  Thành phố Cao Lãnh
738  80323  Thành phố Hồng Ngự
739  80303    Thành phố Sa Đéc

[740 rows x 2 columns]

In [7]:
ds_xa_toan_quoc = []
for huyen in ds_huyen_toan_quoc['id']:
    ds_xa = get_ds_xa(huyen)
    ds_xa_toan_quoc = ds_xa_toan_quoc + ds_xa
    time.sleep(5)

In [9]:
ds_xa_toan_quoc = pd.DataFrame(ds_xa_toan_quoc)
ds_xa_toan_quoc

            id                title
0      8050509      Thị trấn An Phú
1      8050527   Thị trấn Long Bình
2      8050525    Thị trấn Đa Phước
3      8050511          Xã Khánh An
4      8050503        Xã Khánh Bình
...        ...                  ...
12127  8030317        Phường An Hòa
12128  8030301  Phường Tân Quy Đông
12129  8030305    Xã Tân Khánh Đông
12130  8030309      Xã Tân Phú Đông
12131  8030307       Xã Tân Quy Tây

[12132 rows x 2 columns]

In [10]:
ds_xa_toan_quoc.to_csv('ds_xa_toan_quoc.csv', index= False)

In [86]:
ds_xa_toan_quoc = pd.read_csv('ds_xa_toan_quoc.csv')
ds_xa_toan_quoc

            id                title
0      8050509      Thị trấn An Phú
1      8050527   Thị trấn Long Bình
2      8050525    Thị trấn Đa Phước
3      8050511          Xã Khánh An
4      8050503        Xã Khánh Bình
...        ...                  ...
12127  8030317        Phường An Hòa
12128  8030301  Phường Tân Quy Đông
12129  8030305    Xã Tân Khánh Đông
12130  8030309      Xã Tân Phú Đông
12131  8030307       Xã Tân Quy Tây

[12132 rows x 2 columns]

In [87]:
ds_full = ds_xa_toan_quoc
ds_full.columns = ['maXa', 'tenXa']

In [88]:
ds_full['maHuyen'] = ds_full['maXa'].astype(str).str[:-2].astype(int)
ds_full['maTinh'] = ds_full['maXa'].astype(str).str[:-4].astype(int)
ds_full

          maXa                tenXa  maHuyen  maTinh
0      8050509      Thị trấn An Phú    80505     805
1      8050527   Thị trấn Long Bình    80505     805
2      8050525    Thị trấn Đa Phước    80505     805
3      8050511          Xã Khánh An    80505     805
4      8050503        Xã Khánh Bình    80505     805
...        ...                  ...      ...     ...
12127  8030317        Phường An Hòa    80303     803
12128  8030301  Phường Tân Quy Đông    80303     803
12129  8030305    Xã Tân Khánh Đông    80303     803
12130  8030309      Xã Tân Phú Đông    80303     803
12131  8030307       Xã Tân Quy Tây    80303     803

[12132 rows x 4 columns]

In [89]:
ds_full = pd.merge(ds_full, ds_huyen_toan_quoc, how='left', left_on='maHuyen', right_on= 'id')[['maXa', 'tenXa', 'maHuyen','title', 'maTinh']]
ds_full.rename(columns = {'title':'tenHuyen'}, inplace = True)
ds_full = pd.merge(ds_full, ds_tinh, how='left', left_on='maTinh', right_on= 'id')[['maXa', 'tenXa', 'maHuyen','tenHuyen', 'maTinh', 'title']]
ds_full.rename(columns = {'title':'tenTinh'}, inplace = True)
ds_full

,maXa,tenXa,maHuyen,tenHuyen,maTinh,tenTinh
0,8050509,Thị trấn An Phú,80505,Huyện An Phú,805,An Giang
1,8050527,Thị trấn Long Bình,80505,Huyện An Phú,805,An Giang
2,8050525,Thị trấn Đa Phước,80505,Huyện An Phú,805,An Giang
3,8050511,Xã Khánh An,80505,Huyện An Phú,805,An Giang
4,8050503,Xã Khánh Bình,80505,Huyện An Phú,805,An Giang
...,...,...,...,...,...,...
12127,8030317,Phường An Hòa,80303,Thành phố Sa Đéc,803,Đồng Tháp
12128,8030301,Phường Tân Quy Đông,80303,Thành phố Sa Đéc,803,Đồng Tháp
12129,8030305,Xã Tân Khánh Đông,80303,Thành phố Sa Đéc,803,Đồng Tháp
12130,8030309,Xã Tân Phú Đông,80303,Thành phố Sa Đéc,803,Đồng Tháp
12131,8030307,Xã Tân Quy Tây,80303,Thành phố Sa Đéc,803,Đồng Tháp

In [90]:
ds_full.to_csv('ds_full.csv', index= False)